body {
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

html, body { 
    overflow-x: clip; 
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #7C00FE;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #6c757d;
}

p {
    margin: 0;
}

p,
label,
input {
    font-weight: 500;
    color: #6c757d;
    font-size: 1.3rem;
}

textarea {
    resize: none;
}



/* Navbar background and text color */
.navbar {
    padding: 35px;
}

.nav-item *,
.navbar-brand {
    color: #7C00FE;
    font-weight: 600;
    font-size: larger;
}

.navbar-toggler {
    background-color: transparent;
    border: none;
    border-radius: 100px;
    transition: 0.2s;
}

.navbar-toggler svg {
    color: #7C00FE;
    transition: 0.2s;
}

.navbar-toggler svg:hover {
    color: white;
}

.navbar-toggler:hover {
    background-color: #7C00FE;
}

@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }
}


.contact-button {
    font-size: larger;
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #7C00FE;
    background-color: #7C00FE;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.contact-button:hover {
    background-color: white;
    color: #7C00FE;
}


/* About Me Section */
.about-me {
    text-align: center;
    min-height: 100vh;
}

/* Color del borde */
.text-abaut-me {
    font-size: 1.4rem;
    font-weight: 600;
    color: #6c757d;
}


.about-me img {
    border-radius: 10px;
    max-width: 100%;
    height: 300px;
}

#conoceme {
    background-color: #eaeef1;
    padding: 0 .5rem;
}

.link-uns {
    text-decoration: none;
    color: #7C00FE;
}

.text-justify {
    text-align: justify;
}


.skills-section {
    padding: 25px 0;
    padding: 0 .5rem;
}

.skill-card {
    background-color: #eaeef1;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 240px;
}

.skill-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.skill-card-main {
    background-color: #F5004F;
    color: white;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}

.skill-card h5 {
    margin-top: 15px;
    font-weight: 700;
}

.skill-card p {
    margin-top: 10px;
    font-weight: 400;
    color: #6c757d;
}

.skill-icon {
    font-size: 38px;
    color: #333;
}

/* Projects Section */
#projects {
    padding: 0 .5rem;
    background-color: #eaeef1;
}

/* Contact Section */
#contact {
    padding: 0 .5rem;
}

.title-project {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.description-project {
    font-weight: 400;
    color: #6c757d;
}

.img-project {
    border-radius: 10px;
}

.tec-project {
    font-size: 1.2rem;
    font-weight: 800;
    color: #F5004F;
}

.project-icon {
    font-size: 2.5rem;
    color: #343a40;
    text-decoration: none;
}

.project-icon i {
    transition: color 0.3s ease;
}

.project-icon i:hover {
    color: #7C00FE;
}

.contact-section .form-label {
    font-weight: 500;
}

.contact-section .btn-primary {
    background-color: hsl(240, 5.9%, 10%);
    border: none;
}

.contact-section .btn-primary:hover {
    background-color: hsl(240, 5.9%, 15%);
}

.social-icon {
    font-size: 2rem;
    color: #343a40;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #7C00FE;
}

.social-icon i {
    margin: 0.5rem;
    font-size: 40px;
}

#contact input,
#contact textarea {
    background-color: #eaeef1;
}


/* Footer Styles */
.footer {
    background-color: #343a40;
    color: #eaeef1;
    padding: 1rem 0;
    display: flex;
    align-self: center;
    justify-content: center;
}

.footer p {
    margin: 0;
}

.btn-scroll-top {
    right: 40px;
    bottom: 9px;
    color: #eaeef1;
    font-size: 30px;
}