---
const { title, description, imageUrl, imageAlt } = Astro.props;
---

<section class="about-me">
    <div class="container">
        <div class="about-me-inner">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="p-2">
                    <h2>{title}</h2>
                    <p class="text-about-me">
                        {description}
                    </p>
                </div>
                <div class="p-2">
                    <img src={imageUrl} alt={imageAlt} class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .about-me {
        text-align: center;
        min-height: 100vh;
    }

    .text-abaut-me {
        font-size: 1.4rem;
        font-weight: 600;
        color: #6c757d;
    }

    .about-me img {
        border-radius: 10px;
        max-width: 100%;
        height: 300px;
    }
</style>