---
const { title, description, imageUrl, imageAlt } = Astro.props;
import ContactButton from "./ContactButton.astro"
---

<section class="about-me">
    <div class="about-me-container-1">
        <div class="about-me-inner">
            <div class="about-me-container-2">
                <div>
                    <h2>{title}</h2>
                    <p class="text-about-me">
                        {description}
                    </p>
                    <ContactButton 
                        text="Ver más"
                        section="#conoceme"
                    />
                </div>
                <div class="about-me-img-container">
                    <img src={imageUrl} alt={imageAlt} class="img-fluid">
                </div>
            </div>
        </div>          
    </div>
</section>

<style>
    .about-me {        
        min-height: 100vh;        
        padding-top: 100px;                          
    }

    .about-me-container-2 {
        display: flex;
        justify-content: center;
        align-items: center;               
    }

    .about-me-container-2 div {
        padding: 0 20px;
    }

    .about-me h2 {
        color: rgb(238, 234, 234);
    }

    .text-about-me {
        margin-bottom: 20px;
        color: rgb(163, 159, 159) !important;
    }

    .about-me-img-container img {
        box-shadow: -50px -50px 100px  rgba(232, 65, 66, 0.5);
        border-radius: 2%;
    }

    @media (max-width: 991px) {   
        .about-me {
            background-image: url('https://github.com/francoleon08/portfolio/blob/master/public/assets/background-mobile.jpg?raw=true');            
            background-size: cover;
            background-position: center;                    
        }

        .about-me-inner {            
            min-height: 100vh;
            backdrop-filter: blur(5px);
        }
        
        .about-me-container-2 div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 20px;
        }

        .about-me-img-container {
            display: none !important;
        }
    }
</style>