<section id="contact" class="contact-section py-5">
    <div class="container">
        <h2 class="text-center mb-4">Contacto</h2>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form id="contactForm">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input
                            type="text"
                            name="name"
                            class="form-control"
                            id="name"
                            placeholder="Su nombre"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            id="email"
                            placeholder="Su email"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Mensaje</label>
                        <textarea
                            class="form-control"
                            name="message"
                            id="message"
                            rows="4"
                            placeholder="Escriba su mensaje aquí"
                            required></textarea>
                    </div>
                    <div
                        class="d-flex justify-content-lg-end justify-content-center"
                    >
                        <button type="submit" class="contact-button"
                            >Enviar</button
                        >
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center mt-4">
            <h3>¡Hablemos!</h3>
            <div class="d-flex justify-content-center mt-3">
                <a
                    href="https://github.com/francoleon08"
                    target="_blank"
                    class="social-icon"
                >
                    <i class="fab fa-github"></i>
                </a>
                <a
                    href="https://www.linkedin.com/in/francoleondev/"
                    target="_blank"
                    class="social-icon mx-3"
                >
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:francoleondev@gmail.com" class="social-icon">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="notify notify-loading">
        <p>Enviando correo...</p>
    </div>
    
    <div class="notify notify-success">
        <p>Email enviado correctamente</p>
    </div>

    <div class="notify notify-error">
        <p>Su consulta no pudo ser procesada, intente nuevamente.</p>
    </div>
</section>

<script>
    const form = document.getElementById("contactForm") as HTMLFormElement;

    form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        sendEmail(
            (formData.get("name") as string) || "",
            (formData.get("email") as string) || "",
            (formData.get("message") as string) || "",
        );
    });

    async function sendEmail(name: string, email: string, description: string) {
        setLoader();
        try {
            const response = await fetch(
                "https://email-service-py.onrender.com/send-email",
                {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ name, email, description }),
                },
            );            

            if (!response.ok) {
                handleNotification("error");
            } else {
                handleNotification("success");
                form.reset();
            }
                       
        } catch (error) {
            console.error("Error:", error);
        }
    }

    function setLoader() {
        const loader = document.querySelector(".notify-loading") as HTMLElement;
        loader.style.display = "block";
    }

    function handleNotification(type: string) {
        const notify = document.querySelector(`.notify-${type}`) as HTMLElement;
        const allNotifies = document.querySelectorAll(".notify")as NodeListOf<HTMLElement>;
        notify.style.display = "block";

        setTimeout(() => {
            allNotifies.forEach((notify) => {
                notify.style.display = "none";
            });
        }, 3000);
    }
</script>

<style>
    #contact {
        padding: 0 0.5rem;
        border-bottom: 1px solid rgb(71, 70, 70, 0.5);
    }

    .contact-section .form-label {
        font-weight: 500;
    }

    .contact-section .btn-primary {
        background-color: hsl(240, 5.9%, 10%);
        border: none;
    }

    .contact-section .btn-primary:hover {
        background-color: hsl(240, 5.9%, 15%);
    }

    .social-icon {
        font-size: 2rem;
        color: #c5c0c0;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .social-icon:hover {
        color: #f5004f;
    }

    .social-icon i {
        margin: 0.5rem;
        font-size: 40px;
    }

    #contact input,
    #contact textarea {
        background-color: #eaeef1;
    }

    .contact-button {
        color: white !important;
        font-size: larger;
        display: inline-block;
        padding: 8px 16px;
        border: 2px solid #f5004f;
        border-radius: 30px;
        text-decoration: none;
        background-color: #f5004f;
        font-weight: bold;
        transition:
            background-color 0.3s,
            color 0.3s;
    }

    .contact-button:hover {
        background-color: white;
        color: #f5004f !important;
    }

    .notify {
        display: none;
        position: fixed;
        bottom: 30px;             
        right: 30px;        
        background-color: #e84142;
        color: white;
        border-radius: 10px;        
        padding: 1rem;
        text-align: center;
        z-index: 1000;
    }
</style>
