---
const { text, section } = Astro.props;
---

<a class="contact-button" href={section}>{text}</a>

<style>
    .contact-button {
        color: white !important;
        font-size: larger;
        display: inline-block;
        padding: 8px 16px;
        border: 2px solid #e84142;        
        border-radius: 20px;
        text-decoration: none;
        background-color: #e84142;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
    }

    .contact-button:hover {
        box-shadow: 0 0 60px 0 rgba(236, 81, 81, 0.5);
    }
</style>