---
import ContactButton from "./ContactButton.astro"
const { title } = Astro.props;
---

<section id="conoceme" class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 mb-4">
                <div>
                    <h2 class="mb-2">{title}</h2>
                </div>
                <div class="conoceme-sub-text">
                    <p>Un entusiasta desarrollador de Software</p>
                </div>
            </div>
            <div class="col-lg-8 px-3 px-lg-0">
                <p class="text-justify">
                    Mi nombre es <strong>Franco</strong>, soy desarrollador desarrollador de software especializado en backend, especificamente en <strong>Java</strong> con <strong>Spring Boot</strong>.
                    Tengo experiencia en el diseño y desarrollo de servicios <strong>RESTful</strong>, integración
                    de bases de datos y pruebas automatizadas. Me apasiona trabajar en equipos colaborativos y
                    contribuir al crecimiento del equipo mientras continúo desarrollando mis habilidades técnicas.
                </p>
                <p class="text-justify">
                    Actualmente, estudio la <strong>Licenciatura en Ciencias de la Computación</strong> en la <a
                        class="link-uns" href="https://www.uns.edu.ar/" target="_blank">Universidad Nacional del
                        Sur</a> en Bahía Blanca, Buenos Aires.
                </p>
                <div class="d-flex justify-content-lg-end justify-content-center pt-3">
                    <ContactButton 
                        text="Contacto"
                        section="#contact"
                    />
                </div>                
            </div>
        </div>
    </div>
</section>

<style>
    #conoceme {                
        border-top: 1px solid rgb(71, 70, 70, 0.5);
        border-bottom: 1px solid rgb(71, 70, 70, 0.5);
        margin: 0 20px;
    }

    #conoceme h2 {
        color: #e84142;
    }

    .conoceme-sub-text p {
        color: rgba(163, 159, 159, 0.795) !important;
    }

    .link-uns {
        text-decoration: none;
        color: #e84142;
    }

    .text-justify {
        text-align: justify;
    }    
</style>