<footer class="footer text-center position-relative">
    <p>&copy; 2024 Franco Leon</p>
    <a href="#" class="btn-scroll-top position-absolute">
        <i class="fas fa-chevron-up"></i>
    </a>
</footer>

<style>
    .footer {
        background-color: #343a40;
        color: #eaeef1;
        padding: 1rem 0;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .footer p {
        margin: 0;
    }

    .btn-scroll-top {
        right: 40px;
        bottom: 9px;
        color: #eaeef1;
        font-size: 30px;
    }
</style>