<footer class="footer text-center position-relative">
    <p>&copy; 2025 Franco Leon</p>
    <a href="#" class="btn-scroll-top position-absolute">
        <i class="fas fa-chevron-up"></i>
    </a>
</footer>

<style>
    .footer {        
        color: #eaeef1;
        padding: 2rem 0;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .footer p {
        margin: 0;
    }

    .btn-scroll-top {
        right: 40px;
        bottom: 20px;
        color: #eaeef1;
        font-size: 30px;
        transition: bottom 0.3s;
    }

    .btn-scroll-top:hover {
        bottom: 30px;
        color: #e84142;
    }
</style>