---
import ContactButton from "./ContactButton.astro"
---

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a href="index.html">
                <svg style="color: #7C00FE; width: 60px; height: 60px;" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
                    <polyline points="16 18 22 12 16 6"></polyline>
                    <polyline points="8 6 2 12 8 18"></polyline>
                </svg>
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <svg width="50" height="50" fill="currentColor" viewBox="0 0 24 24">
                <path d="M4 6h16v2H4V6zm0 4h16v2H4v-2zm0 4h16v2H4v-2z" />
            </svg>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#conoceme">Conoceme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="downloadLink">CV</a>
                </li>
                <li class="nav-item ps-lg-4">
                    <ContactButton 
                        text="Contacto"
                    />
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    document.getElementById('downloadLink').addEventListener('click', function(event) {
        event.preventDefault();
        const pdfUrl = 'https://github.com/francoleon08/francoleon08/raw/main/CV.pdf';
        const link = document.createElement('a');
        link.href = pdfUrl;
        link.download = 'CV_Franco_Leon.pdf';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    });
</script>

<style> 
    .navbar {
    padding: 35px;
    }

    .nav-item *,
    .navbar-brand {
        color: #7C00FE;
        font-weight: 600;
        font-size: larger;
    }

    .navbar-toggler {
        background-color: transparent;
        border: none;
        border-radius: 100px;
        transition: 0.2s;
    }

    .navbar-toggler svg {
        color: #7C00FE;
        transition: 0.2s;
    }

    .navbar-toggler svg:hover {
        color: white;
    }

    .navbar-toggler:hover {
        background-color: #7C00FE;
    }

    @media (max-width: 991px) {
        .navbar-nav {
            text-align: center;
        }
    }
</style>