---
import ProjectsCards from "./ProjectCard.astro"
const {title} = Astro.props;
---


<section id="projects" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">{title}</h2>

        <ProjectsCards />
    </div>
</section>

<style>
    #projects {
        padding: 0 .5rem;
        background-color: #eaeef1;
    }
</style>